<select [(ngModel)]="value">
  <option value="red">Rouge</option>
  <option value="blue">Bleu</option>
  <option value="green">Vert</option>
</select>

Value {{value}}

<ul  [ngClass]="client.active == true  ? 'enable' : 'disable'">
  <li>{{client.firstname}}</li>
  <li>{{client.lastname}}</li>
  <li>{{client.active}}</li>
</ul>

<button (click)="toggleActive()">{{client.active ? 'Desactiver' : 'Activer'}}</button>

<ul  [ngClass]="getSupplierClass()">
  <li>{{supplier.firstname}}</li>
  <li>{{supplier.lastname}}</li>
  <li>{{supplier.active}}</li>
</ul>
