.enable{
  color: green;
  font-weight: normal;
}
.disable{
  color: red;
  text-decoration: underline;
  font-weight: bold;
}
.low{
  color:red;
  font-weight: bold;
}
.medium{
  color:orange;
  font-weight: bold;
}
.high{
  color:green;
}
